<h1>Add Profile</h1>
<form>
	<section class="edit-profile">
		<aside class="col-md-3 left-section">
			<img-upload model="profile.form."></img-upload>
		</aside>
		<aside class="col-md-1 line"></aside>
		<aside class="col-md-8 right-section">
			<article>
				<section class="form-group clearfix">
					<label class="col-md-2" for="name">
						Name:
					</label>
					<section class="col-md-5">
						<input type="text" required  class="form-control" placeholder="First Name" name="name">
					</section>
					<section class="col-md-5">
						<input type="text" required  class="form-control" placeholder="Last Name">
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="email">
						Email:
					</label>
					<section class="col-md-10">
						<input type="email" required  class="form-control" placeholder="sample@123.com" name="email">
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="tel">
						Tel:
					</label>
					<section class="col-md-10">
						<input type="tel"  required class="form-control" placeholder="(212)477-1000" name="tel">
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="tel">
						Country:
					</label>
					<section class="col-md-10">
						<select class="form-control" required>
							<option value="">Select</option>
						</select>
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="tel">
						State:
					</label>
					<section class="col-md-10">
						<select class="form-control" required>
							<option value="">Select</option>
						</select>
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="tel">
						Address:
					</label>
					<section class="col-md-10">
						<select class="form-control" required>
							<option value="">Select</option>
						</select>
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="interst">
						Interest:
					</label>
					<section class="col-md-10">
						<input type="tel" required class="form-control" placeholder="hobby1,hobby2,hobby3" name="interst">
					</section>
				</section>
				<section class="form-group clearfix">
					<label class="col-md-2" for="interst">
						
					</label>
					<ul class="col-md-10 hobby-section">
						<li>hobby<span class="close-btn" aria-hidden="true">×</span></li>
						<li>hobby<span class="close-btn" aria-hidden="true">×</span></li>
						<li>hobby<span class="close-btn" aria-hidden="true">×</span></li>
						<li>hobby<span class="close-btn" aria-hidden="true">×</span></li>
					</ul>
				</section>
				<section class="form-group">
					<section class="checkbox col-md-offset-2 col-md-10" required>
						<label><input type="checkbox">Subscribe to News Letter</label>
					</section>
				</section>
				<section class="form-group clearfix">
					<section class="checkbox col-md-offset-7 col-md-4">
						<button class="btn btn-primary btn-larg form-control">Submit</button>
					</section>
				</section>
				<section class="clearfix"></section>
			</article>
		</aside>
	</section>
</form>